{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset ('assets/js/custom/emailTest.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="col-lg-4 box-form">
        <h1>Register</h1>
        <hr/>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn">Register</button>
        {{ form_end(registrationForm) }}        
    </div>
{% endblock %}
