{% extends 'base.html.twig' %}

{% block body %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Ofertas</h3></div>
					</div>
					<!-- /section title -->

					<!-- Carousel -->
				<section>
					<div class="js-Carousel" id="carousel">
						<ul>
							<li>
							<h3 class="carousel-item-title">Producto 1</h3>
							<h4 class="carousel-item-precio"> POR SOLO 546,99€</h4>
							<img src="{{ asset ('assets/img/product01.png') }}" alt=""></li>

							<li><h3 class="carousel-item-title">Producto 2</h3>
							<h4 class="carousel-item-precio"> POR SOLO 19,99€</h4>
							<img src="{{ asset ('assets/img/product02.png') }}" alt=""></li>

							<li><h3 class="carousel-item-title">Producto 3</h3><h4 class="carousel-item-precio"> POR SOLO 358,00€</h4>
							<img src="{{ asset ('assets/img/product03.png') }}" alt=""></li>
					
						</ul>
					</div>
				</section>
					<!-- Carousel -->

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									{# <div class="products-slick" data-nav="#slick-nav-1"> #}
										
										<!-- product -->
										{% for product in products %}
											<div class="col-md-4">
											<div class="product">																						
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name">{{product.nombre}}</h3>
													<h4 class="product-price">{{product.precio}}€</h4>
													<p>DESCRIPCIÓN Lore ipsum</p>
													<div class="product-img">
														<a href="{{ asset ("assets/img/") }}{{product.imagen}}" data-lightbox="{{ asset ("assets/img/") }}{{product.imagen}}"><img class="example-image" src="{{ asset ("assets/img/") }}{{product.imagen}}" alt=""></a>
													</div>
												<button class="btn btn-danger my-cart-btn" data-id="{{product.id}}" data-name="{{product.nombre}}" data-summary="summary 1" data-price="{{product.precio}}" data-quantity="1" data-image="{{product.imagen}}">Add to Cart</button>											
											</div>
											</div>
											</div>
										{% endfor %}
										
										<!-- /product -->
										
									{# </div> #}
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


{% endblock %}
